@import url("http://shared.localhost/css/FiraGO.css");

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: FiraGO;
  background-color: black;
  background-image: url('/img/wp.jpg');
  background-size: cover;
}

#placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: transparent;
  text-shadow: #334 0 0 15px;
  -webkit-text-stroke: 2px white;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
}
